NewGlobalPortal/Connected Services/SanalPosService/VendorPaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.tahsilat.bosch-homecomfort.com.tr/VendorPayment/VendorPaymentService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/eCozum.Practices.VPos.Entity" />
  <xs:complexType name="RecurringQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecuteStatus" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eCozum.Practices.VPos.Entity" minOccurs="0" name="PaymentResponse" nillable="true" type="q1:RecurringPaymentResponseBase" />
      <xs:element minOccurs="0" name="RecurringPaymentDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="RecurringPaymentDetailStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecurringQueryResponse" nillable="true" type="tns:RecurringQueryResponse" />
</xs:schema>