NewGlobalPortal/Connected Services/SanalPosService/VendorPaymentService103.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WCF.VendorPaymentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WCF.VendorPaymentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CampaignProccessResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BonusItems" nillable="true" type="tns:ArrayOfBonusItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CampaignProccessResult" nillable="true" type="tns:CampaignProccessResult" />
  <xs:complexType name="ResultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
  <xs:complexType name="ArrayOfBonusItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BonusItem" nillable="true" type="tns:BonusItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBonusItem" nillable="true" type="tns:ArrayOfBonusItem" />
  <xs:complexType name="BonusItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bonus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusItem" nillable="true" type="tns:BonusItem" />
</xs:schema>